/* body {
	min-width: 320px;
	max-width: 750px;
	width: 10rem;
	margin: 0 auto;
	line-height: 1.5;
	font-family: arial,helvetica;
	background-color: #F2F2F2;
}
.search-content {
	
} */
@media screen and (min-width:750px) {
	html {
		font-size: 50px!important;
	}
}
body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: arial,helvetica;
  background: #F2F2F2;
}
.search-content {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: 1.76rem;
  background-color: #ffc001;
}
.search-content .classify {
  width: 0.88rem;
  height: 1.4rem;
  margin: 0.22rem 0.5rem 0.14rem 0.48rem;
  background: url(../images/classify.png) no-repeat;
  -webkit-background-size: 0.88rem 1.4rem;
  background-size: 0.88rem 1.4rem;
}
.search-content .search {
  flex: 1;
}
.search-content .search input {
  outline: none;
  border: 0;
  height: 1.32rem;
  width: 100%;
  border-radius: 0.66rem;
  background-color: #fff2cc;
  margin-top: 0.24rem;
  padding-left: 0.5rem;
  font-size: 0.5rem;
  color: #757575;
}
.search-content .login {
  width: 1.5rem;
  height: 1.4rem;
  line-height: 1.4rem;
  margin: 0.2rem;
  font-size: 0.5rem;
  text-align: center;
  color: #FFFFFF;
}
.banner {
  width: 15rem;
  height: 7.36rem;
  margin: 0;
}
.banner img {
  width: 100%;
}
.ad {
  display: flex;
}
.ad a {
  flex: 1;
}
.ad a img {
  width: 100%;
}
.nav {
  width: 15rem;
}
.nav a {
  float: left;
  width: 3rem;
  height: 2.8rem;
  text-align: center;
}
.nav a img {
  display: block;
  width: 1.64rem;
  height: 1.64rem;
  margin: 0.2rem auto 0;
}
.nav a span {
  display: block;
  font-size: 0.5rem;
  color: #333333;
}
